---
title: Deploying Your Product as a Tile in Ops Manager
---
 
 <p class='note'><strong>Note</strong>: This topic is part of the [Creating a Pivotal Cloud Foundry® Product Tile](./creating.html) tutorial.  Before beginning this procedure, you should follow the procedure described in [Deploying a Pivotal Cloud Foundry&reg; Product Using BOSH](./deploying-with-bosh.html).</p>

This topic describes deploying a Cloud Foundry software product as a tile in [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) Ops Manager. Ops Manager uses BOSH to deploy software products to the cloud, and eases the process by providing the following:

- Automated error-checking
- Automated manifest generation
- Lifecycle management for upgrading a product when a new release is published

## <a id='deploy-ops-manager'></a>Step 1: Deploy Ops Manager

Download the latest Ops Manager from a shared AMI (Amazon Machine Image) on AWS, and launch it on the VPC you already created in [Deploying a Pivotal Cloud Foundry&reg; Product Using BOSH](./deploying-with-bosh.html).

1. Log in to [Pivotal Network](http://network.pivotal.io), click the **Ops Manager** tile, and download the instructions for deploying Ops Manager on AWS. Open the PDF and record the AMI ID listed for your nearest region. You can ignore the rest of the instructions.

1. Log into AWS, navigate to the **EC2 Dashboard**, and click **Launch Instance**.

1. Click **Community AMIs** in the left column and search for the AMI ID you recorded from the Ops Manager instructions.
<%= image_tag 'ami_selection_aws.png' %>

1. Click the **Select** button next to this Ops Manager AMI.

1. Choose `m3.large` as the instance type for your Ops Manager VM, and click **Next: Configure Instance Details** at bottom right.

1. Click the **Network** dropdown and choose the VPC for ExampleStack that you created in [Deploying a Pivotal Cloud Foundry&reg; Product Using BOSH](./deploying-with-bosh.html#prep-environment).

1. Click the **Subnet** dropdown and choose the public subnet that you created in [Deploying a Pivotal Cloud Foundry&reg; Product Using BOSH](./deploying-with-bosh.html#prep-environment).

1. Set **Auto-assign Public IP** to **Enable**.
<%= image_tag 'vpc.png' %>

1. Click **Review and Launch**.

1. On the Review Instance Launch page, click **Edit Security Group**.

1. On the Configure Security Group page, click **Select an existing security group** and then select the ExampleStack group created in [Deploying a Pivotal Cloud Foundry&reg; Product Using BOSH](./deploying-with-bosh.html).
<%= image_tag 'sec-group.png' %>

1. Click **Review and Launch**.

1. On the Review Instance Launch page, click **Launch**.

1. In the key pair popup, choose ExampleKeyPair, the keypair you created in [Deploying a Pivotal Cloud Foundry&reg; Product Using BOSH](./deploying-with-bosh.html). Check the "I acknowledge" checkbox and click **Launch Instances**acknowledgement checkbox.
<%= image_tag 'keypair.png' %>

1. Click **Launch Instance**.

## <a id='configure-install'></a>Step 2: Configure and Install Ops Manager Director

1. Find the Ops Manager instance you just deployed by clicking **Instances** under the **EC2 Dashboard**. Note the public IP address listed for the instance.

1. After the Ops Manager instance is fully launched, open a browser tab and navigate to its IP address. Proceed through any privacy warnings.

1. Create a username and password, and agree to the terms and conditions.
<%= image_tag 'username-pass.png' %>

1. Click the **Ops Manager Director** Tile.<br>
<%= image_tag 'director.png' %>

1. In the AWS Management Console Config / AWS Config settings, enter values from [Deploying a Pivotal Cloud Foundry&reg; Product Using BOSH](./deploying-with-bosh.html): 
  * **Access Key ID** in the BOSH manifest `bosh.yml`
  * **AWS Secret Key** in the BOSH manifest `bosh.yml`
  * **VPC ID** from **VPC Dashboard > Your VPCs**
  * **Security Group Name** in the BOSH manifest `bosh.yml`
  * **Key Pair Name** "ExampleKeyPair"
  * **SSH Private Key** copied from `ExampleKeyPair.pem` in your working directory
  * **Region** "us-west-1"
<%= image_tag 'aws-config.png' %>

1. Click **Save**.

1. Select **Director Config**.

1. Under **NTP Servers** enter `0.amazon.pool.ntp.org` and click **Save**.

1. Select **Create Availability Zones**.

1. Enter the Availability Zone for the private subnet of your VPC (example: us-west-1a) and click **Save**.

1. Select **Assign Availability Zone**.

1. Choose the Availability Zone you just created and click **Save**.

1. Select **Create Networks**. Enter the following values, some of which are re-used from the BOSH manifest `example-release.yml`, which originally deployed the app instance you terminated at the end of [Deploying a Pivotal Cloud Foundry&reg; Product Using BOSH](./deploying-with-bosh.html):
  * **Name** can be anything
  * **VPC Subnet ID** from **VPC Dashboard > Subnets**, or in the BOSH manifest `bosh.yml`
  * **Subnet (CIDR Range)** is the CIDR listed for your subnet under **VPC Dashboard > Subnets**
  * **Excluded IP Ranges** the `reserved` range listed under `subnets` in `example-release.yml`
  * **DNS** the `dns` address listed under `subnets` in `example-release.yml`
  * **Gateway** the `gateway` address listed under `subnets` in `example-release.yml`
<%= image_tag 'networks.png' %>

1. Click **Save**.
<p class='note'><strong>Note</strong>: You will get errors that Ops Manager cannot reach the gateway or DNS server. Ignore these.</p>

1. Select **Assign Networks**.

1. Choose the network you created and click **Save**.

1. Return to the **Installation Dashboard** and click **Apply Changes** for Ops Manager Director to install. After successful installation the Install Log will exit with 0, and the Ops Manager Director tile should show a solid green bar along the bottom. To redo your Ops Manager Director configuration and deployment, click the gear icon next to **Installation Dashboard**, select **Delete this installation**, confirm, and click **Apply Changes**.

<p class='note'><strong>Note</strong>: If you have existing VMs in the VPC you can safely ignore errors that IP addresses are already in use.</p>

## <a id='examine-example'></a>Step 3: Download and Examine the Example Product Tile

This step describes how you can build a product tile by examining its contents.

1. On your local workstation, download the Latest release (not Pre-release) version of the example product tile, called [Tutorial Tile](https://github.com/pivotal-cf-experimental/ops-manager-example/releases).

1. From the **Installation Dashboard**, click **Import a Product** and select the downloaded file. You should see the example product listed under **Available Products**.
<%= image_tag 'add-product.png' %>

1. Hover over the example product listing and click **Add**. The product tile should appear under **Installation Dashboard**.
<%= image_tag 'product-tile.png' %>

1. Change the example product download file extension from `.pivotal` to `.zip` and unzip the file.

1. To learn how Ops Manager product tiles are constructed, look through the example tile's configuration screens in Ops Manager and study the underlying files in the following directories:

    1. Content_migrations <strong>(optional)</strong>: Upgrading versions require migrations.

    1. Metadata <strong>(required)</strong>: This directory includes a product template which renders in Ops Manager, and instructions for how the correlated BOSH manifest is generated.

    1. Releases <strong>(optional)</strong>: This directory contains BOSH releases with the source code for a product. In this case, the release contains the NGINX webserver. 

## <a id='build-your-own'></a>Step 4: Build your own Product Tile

Create your own product tile by following the steps in these high level instructions and the linked reference documentation and other resources. Each step requires substantial work.

1. Build and create a BOSH release. The [BOSH documentation](https://bosh.io/) contains information about how to build a release. You can post questions to the BOSH community using the [CF-BOSH mailing list](https://lists.cloudfoundry.org/archives/list/cf-bosh@lists.cloudfoundry.org) and [IRC Channel on Freenode](http://webchat.freenode.net/?channels=bosh).

2. Create a Product Template by using the Example Product Tile as a model. Refer to the [Product Template Reference](./product-template-reference.html) for further clarification.

3. You may consider adding Lifecycle Errands to both your BOSH release and your Product Template. Refer to the [BOSH documentation](https://bosh.io/) and the [Lifecycle Errands](./lifecycle-errands.html) topic for more information.

4. Create directory structure for your product folders, guided by the contents of the [Example Product Tile](https://github.com/pivotal-cf-experimental/ops-manager-example/releases), as described above. Archive the folders into a `.zip` file and import the file into a deployed Ops Manager. 

5. SSH into the Ops Manager VM and edit the product template at `/var/tempest/workspace/default/metadata` to directly make changes to your product tile. After making changes, refresh your browser to see the changes. You can click **Apply Changes** in the PCF Ops Manager Installation Dashboard and view the resulting BOSH manifest in `/var/tempest/workspace/default/deployments`.

6. You must create a migration file to migrate values in subsequent releases of your product. These files use a Ruby gem known as `Transmogrifier`. Refer to the [Migrations](./migrations.html) section more information about building migrations.