---
title: Deploying Your Product as a Tile in Ops Manager
---
 
 <p class='note'><strong>Note</strong>: This topic is part of the [Creating a Pivotal Cloud Foundry® Product Tile](./creating.html) tutorial.  Before beginning this procedure, you should follow the procedure described in [Deploying a Pivotal Cloud Foundry&reg; Product Using BOSH](./deploying-with-bosh.html).</p>

This topic describes deploying a Cloud Foundry software product as a tile in [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) Ops Manager. Ops Manager offers a web GUI and eases the process of deploying software with BOSH by providing the following:

- Automated error checking
- Automated manifest generation
- Life cycle management for upgrading a product when a new release is published



## <a id='deploy-ops-manager'></a>Step 1: Deploy Ops Manager

Download Ops Manager from [Pivotal Network](http://network.pivotal.io). Launch the Amazon AMI in the VPC created from [Deploying a Pivotal Cloud Foundry&reg; Product Using BOSH](./deploying-with-bosh.html).

1. Log in to [Pivotal Network](http://network.pivotal.io) and download the latest Ops Manager for AWS. The PDF download contains instructions with AMI IDs to deploy PCF on AWS.

1. Log in to the **AWS Console**.

1. Navigate to the **EC2 Dashboard**.

1. Click **Launch Instance**.

1. Select **Community AMIs** and search for the Ops Manager AMI in the PDF you previously downloaded.
<%= image_tag 'ami_selection_aws.png' %>

1. Click the **Select** button next to the Ops Manager AMI.

1. Choose an `m3.large` instance and click **Next: Configure Instance Details**.

1. Click the dropdown for the **Network** key and choose the VPC that you created in [Deploying a Pivotal Cloud Foundry&reg; Product Using BOSH](./deploying-with-bosh.html#prep-environment).

1. Click the dropdown for the **Subnet** key and choose the public subnet that you created in [Deploying a Pivotal Cloud Foundry&reg; Product Using BOSH](./deploying-with-bosh.html#prep-environment).

1. Set **Auto-assign Public IP** to **Enable**.
<%= image_tag 'vpc.png' %>

1. Click **Review and Launch**.

1. Edit the Security Group and set it to the OpsManagerSecurityGroup that you used in [Deploying a Pivotal Cloud Foundry&reg; Product Using BOSH](./deploying-with-bosh.html).

1. Click **Launch**.

1. Choose the keypair you created in [Deploying a Pivotal Cloud Foundry&reg; Product Using BOSH](./deploying-with-bosh.html) and accept the acknowledgement checkbox.
<%= image_tag 'keypair.png' %>

1. Click **Launch Instance**.

## <a id='configure-install'></a>Step 2: Configure and Install Ops Manager Director

1. Find the public IP address of the Ops Manager you deployed in the EC2 Dashboard.

1. Open a browser and navigate to the Ops Manager IP address.

1. Create a username and password, and agree to the terms and conditions.
<%= image_tag 'username-pass.png' %>

1. Click the **Ops Manager Director** Tile.<br>
<%= image_tag 'director.png' %>

1. Enter the **Access Key ID**, **AWS Secret Key**, **VPC ID**, **Security Group Name**, **Key Pair Name**, **SSH Private Key** and **Region** with the values used in [Deploying a Pivotal Cloud Foundry&reg; Product Using BOSH](./deploying-with-bosh.html).
<%= image_tag 'aws-config.png' %>

1. Click **Save**.

1. Select **Director Config**.

1. Enter an Amazon NTP Server (0.amazon.pool.ntp.org) and click **Save**.

1. Select **Create Availability Zone**.

1. Enter the Availability Zone for the private subnet of your VPC (example: us-west-1a) and click **Save**.

1. Select **Assign Availability Zone**.

1. Choose the Availability Zone you created and click **Save**.

1. Select **Create Networks**.

1. Enter a network **Name**, **VPC Subnet ID**, **CIDR Range**, **Excluded IP range**, **DNS**, and **Gateway** using the same values you used in [Deploying a Pivotal Cloud Foundry&reg; Product Using BOSH](./deploying-with-bosh.html).

<p class='note'><strong>Note</strong>: You will get errors that Ops Manager cannot reach the gateway or DNS server.</p>
<%= image_tag 'networks.png' %>

1. Select **Assign Networks**.

1. Choose the network you created and click **Save**.

1. Click **Apply Changes** for Ops Manager Director to install. 

<p class='note'><strong>Note</strong>: If you have existing VMs in the VPC you can safely ignore errors that IP addresses are already in use.</p>

## <a id='examine-example'></a>Step 3: Download and Examine the Example Product Tile

This step describes how you can build a product tile by examining its contents.

1. Download the latest release of the [Example Product Tile](https://github.com/pivotal-cf-experimental/ops-manager-example/releases).

1. Change the file extension from `.pivotal` to `.zip` and unzip the file on your local workstation.

1. Study the files contained in the following directories using these explanations as a guide:

    1. Content_migrations <strong>(optional)</strong>: Upgrading versions require migrations.

    1. Metadata <strong>(required)</strong>: This directory includes a product template which renders in Ops Manager, and instructions for how the correlated BOSH manifest is generated.

    1. Releases <strong>(optional)</strong>: This directory contains BOSH releases with the source code for a product. In this case, the release contains the NGINX webserver. 

## <a id='build-your-own'></a>Step 4: Build your own Product Tile

Create your own product tile by following the steps in these high level instructions. Each instruction represents substantial work with reference documentation for help.

1. Build and create a BOSH release. The [BOSH documentation](https://bosh.io/) contains information about how to build a release. You can post questions to the BOSH community using the [CF-BOSH mailing list](https://lists.cloudfoundry.org/archives/list/cf-bosh@lists.cloudfoundry.org/P) and [IRC Channel on Freenode](http://webchat.freenode.net/?channels=bosh).

2. Create a Product Template by using the Example Product Tile as a model. Refer to the [Product Template Reference](./product-template-reference.html) for further clarification.

3. You may consider adding Lifecycle Errands to both your BOSH release and your Product Template. Refer to the [BOSH documentation](https://bosh.io/) and the [Lifecycle Errands](./lifecycle-errands.html) topic for more information.

4. Create directory structure for your product folders, guided by the contents of the [Example Product Tile](https://github.com/pivotal-cf-experimental/ops-manager-example/releases), as described above. Archive the folders into a `.zip` file and import the file into a deployed Ops Manager. 

5. SSH into the Ops Manager VM and edit the product template at `/var/tempest/workspace/default/metadata` to directly make changes to your product tile. After making changes, refresh your browser to see the changes. You can click **Apply Changes** in the PCF Ops Manager Installation Dashboard and view the resulting BOSH manifest in `/var/tempest/workspace/default/deployments`.

6. You must create a migration file to migrate values in subsequent releases of your product. These files use a Ruby gem known as `Transmogrifier`. Refer to the [Migrations](./migrations.html) section more information about building migrations.